<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.addmin.paquete">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Bringo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.acitividades.InicioActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.acitividades.PaqueteActivity"
            android:label=""
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.acitividades.SobreActivity"
            android:label=""
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.acitividades.TiporecolActivity"
            android:label=""
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.acitividades.CotizacionActivity"
            android:label=""
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.acitividades.PaquetesMainActivity"
            android:label=""
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.maps.OrigenActivity"
            android:label=""
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.maps.DestinoActivity"
            android:label=""
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".ui.acitividades.ResumenSolicitudActivity"
            android:label=""
            android:windowSoftInputMode="stateHidden"
            />
    </application>

</manifest>